.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    background-color: $colorBlack;
    bottom: 0;

    &__logo{
        margin-top: 40px;
        width: 122px;
        height: 39.44px;
    }
}

