.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    @include margin;


    &__logo{
        width: 210px;
        height: 68px;
    }
}

.nav{
    display: flex;
    
    &__li{
        margin-left: 57px;
        text-decoration: none;

        &.active{
            text-decoration: underline;
            -webkit-text-decoration-color: $colorPink;
                    text-decoration-color: $colorPink;
        }

    }
}
    
@media screen and (max-width: 720px) {
    .header{
        &__logo{
            width: 145px;
            height: 47px;
        }
    }
    
}
@media screen and (max-width: 630px) {
    .header{
        justify-content: space-between;
        margin-top: 20px;
        @include marginMobile;
        h6{
            text-transform: uppercase;
        }
    }
    .nav{
        &__li{
            margin-left: 10px;
        }
    }
    
}