.host{
    display: flex;
    justify-content: right;
    align-items: center;
    
    &__name{
        display: flex;
        margin-right: 10px;
        width: 90px;
        align-items: center;
        text-align: right;
    }

    &__picture{
        height: 64px;
        width: 64px;
        border-radius: 50px;
        -o-object-fit: cover;
           object-fit: cover;
    }
}
@media screen and (max-width: 630px) {
    .host{
        padding-top: 50px;
        &__name{
            font-size: 12px;
            line-height: 17.11px;
            width: 80px;
        }
        &__picture{
            height: 32px;
            width: 32px;
        }
    }
}