.host{
    display: flex;
    justify-content: right;
    
    &__name{
        display: flex;
        margin-right: 10px;
        width: 90px;
        align-items: center;
        text-align: right;
    }

    &__picture{
        height: 64px;
        width: 64px;
        border-radius: 50px;
        -o-object-fit: cover;
           object-fit: cover;
    }
}