body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 48px;
    font-weight: 500;
    line-height: 68.45px;
    color: $colorWhite;
}

h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    color: $colorPink;
}

h3{
    font-size: 18px;
    font-weight: 500;   
    line-height: 25.67px;
    color: $colorWhite;
}

h4{
    font-size: 18px;
    font-weight: 500;   
    line-height: 25.67px;
    color: $colorPink;
}

h5{
    font-size: 24px;
    font-weight: 500;
    line-height: 34.22px;
    color: $colorWhite;
}

h6{
    font-size: 24px;
    font-weight: 400;
    line-height: 34.22px;
    color: $colorPink;
}
p{
    font-size: 18px;    
    font-weight: 400;
    line-height: 25.67;
    color: $colorPink;
}