.cardLocation{
    display: flex;
    flex-direction: column;
    height: 100%;
    @include margin;


    &__collapse{
        display: flex;
        justify-content: space-between;
        width: 100%;
       

        &__description{
            width: 45%;
        }
        
        &__equipement{
            width: 45%;
            border-radius: 10px;
        }
        
    }
    .collapse{
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        &__title{
            border-radius: 10px;

        }
    }   
}