.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: $colorGreyLight;
    @include margin;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 50px;
    padding-right: 40px;
    padding-top: 6px;
    overflow: hidden;
    border-radius: 25px;

}

