html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  height: 100%;
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

#root {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 68.45px;
  color: #ffffff;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  color: #FF6060;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  color: #ffffff;
}

h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  color: #FF6060;
}

h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  color: #ffffff;
}

h6 {
  font-size: 24px;
  font-weight: 400;
  line-height: 34.22px;
  color: #FF6060;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.67;
  color: #FF6060;
}

.banner {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  border-radius: 25px;
  background-color: #000000;
  height: 225px;
  position: relative;
  overflow: hidden;
}
.banner__img {
  position: absolute;
  opacity: 0.7;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.banner__titre {
  display: flex;
  width: 100%;
  height: 225px;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: -19px;
}

.card {
  width: 340px;
  height: 340px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.card__img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card__titre {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: flex-end;
}

.collapse {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.collapse__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #FF6060;
  cursor: pointer;
}
.collapse__description {
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  background-color: #f7f7f7;
}

.slider {
  display: flex;
  justify-content: center;
}
.slider__container {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
}
.slider__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider__leftArrow {
  position: absolute;
  top: 40%;
  left: 23px;
  cursor: pointer;
}
.slider__rightArrow {
  position: absolute;
  top: 40%;
  right: 23px;
  cursor: pointer;
}
.slider__hiddenArrow {
  display: none;
}
.slider__nbPhoto {
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 18px;
  color: #ffffff;
}

.tags {
  display: flex;
}
.tags__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 25px;
  margin-right: 10px;
  background-color: #FF6060;
  border-radius: 10px;
}
.tags__tag__title {
  font-size: 14px;
  color: #ffffff;
  line-height: 19.96px;
  font-weight: 500;
}

.host {
  display: flex;
  justify-content: right;
}
.host__name {
  display: flex;
  margin-right: 10px;
  width: 90px;
  align-items: center;
  text-align: right;
}
.host__picture {
  height: 64px;
  width: 64px;
  border-radius: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}
.header__logo {
  width: 210px;
  height: 68px;
}

.nav {
  display: flex;
}
.nav__li {
  margin-left: 57px;
  text-decoration: none;
}
.nav__li.active {
  text-decoration: underline;
  -webkit-text-decoration-color: #FF6060;
  text-decoration-color: #FF6060;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
  background-color: #000000;
  bottom: 0;
}
.footer__logo {
  margin-top: 40px;
  width: 122px;
  height: 39.44px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f6f6f6;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-top: 6px;
  overflow: hidden;
  border-radius: 25px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  margin-top: 70px;
  margin-left: 100px;
  margin-right: 100px;
}
.error__text {
  font-size: 288px;
  color: #FF6060;
  font-weight: 700;
  line-height: 410.69px;
  margin-bottom: 20px;
}

.redirection {
  text-align: center;
  margin-bottom: 30px;
}
.redirection__h4 {
  text-decoration: underline;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cardLocation {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 100px;
  margin-right: 100px;
}
.cardLocation__collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cardLocation__collapse__description {
  width: 45%;
}
.cardLocation__collapse__equipement {
  width: 45%;
  border-radius: 10px;
}
.cardLocation .collapse {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.cardLocation .collapse__title {
  border-radius: 10px;
}

/*# sourceMappingURL=index.css.map */
